.controlsPanel {
	height: 600px;
	width: 350px;
	background-color: rgb(100, 129, 100);
}

.panels {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 100%;
}

.card {
	border: 4px solid rgba(70, 70, 70, 0.3);
	border-radius: 12px;
	margin: 20px;
	padding: 10px;
}

label > p {
	padding: 0;
	margin: 0;
}

.btn {
	width: 180px;
	margin: 5px;
}

.btn:hover {
	background-color: rgb(70, 70, 70);
}

.clean {
	margin-top: 1.5rem;
}

.panels input {
	width: 200px;
}

.panels button {
	width: 210px;
	font-size: 0.75rem;
}
