.savedPanel {
	height: 600px;
	width: 200px;
	background-color: rgba(0, 0, 0, 0.8);
	display: flex;
	flex-direction: column;
	position: absolute;
}

.openCloseBtn {
	height: 32px;
	width: 32px;
	border: 1px solid black;
	background-color: rgb(100, 129, 100);
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: flex-end;
	position: absolute;
	margin: 2px;
	z-index: 1;
}

.closed {
	visibility: hidden;
	transform: translateX(-250px);
}
