.drawPanel {
	height: 600px;
	width: 800px;
	background-color: rgb(180, 126, 59);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: black;

	.drawBackground {
		display: flex;
		flex-direction: column;
		align-items: center;
		border: 1px solid green;
		height: 90%;
		width: 90%;
		background-color: rgba(255, 255, 255, 0.9);
		font-size: 1.5rem;

		.notification {
			margin-top: 10rem;
			color: rgba(0, 0, 0, 0.8);
			animation: fade 1s ease-in-out;
		}

		.notificationShow {
			animation: fade 1s ease-in-out;
		}

		.uniterms {
			display: flex;
			flex-direction: column;
			margin-top: 50px;
		}
	}
}

@keyframes fade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
