.opEl {
	.parabolaVertical {
		content: '';
		position: absolute;
		width: 5rem;
		height: 15rem;
		border-left: 4px solid black;
		border-radius: 50% 0 0 50%;
		background-color: transparent;

		.values {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: start;
			height: 100%;
			margin-left: 45px;
			width: auto;

			.firstValue {
				width: 50%;
			}

			.endValue {
				width: 50%;
			}
		}

		.values__onRight {
			margin-left: -100px;
		}
	}
}
