.opSekw {
	display: flex;
	flex-direction: column;
	align-items: center;

	.parabolaHorizonatal {
		content: '';
		position: absolute;
		width: 15rem;
		height: 5rem;
		border-top: 4px solid black;
		border-radius: 50% 50% 0 0;
		background-color: transparent;

		.values {
			display: flex;
			justify-content: space-between;
			margin-top: 20px;
			width: auto;

			.firstValue {
				width: 50%;
			}

			.spacerValue {
				padding: 0 2rem;
			}

			.endValue {
				width: 50%;
			}
		}
	}
}
